.sidebar-container {
  margin: 0;
  padding: 0;
  color: #ffff;
}
.sidebar-header {
  padding: 8px;
  display: flex;
  color: #ffff;
  gap: 15px;
}

.sidebar-logo {
  width: 75px;
  height: 70px;
  border-radius: 50%;
}
.sidebar-menu {
  padding-left: 5px;
}
.sidebar-menu a {
  color: #ffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-icon {
  font-size: 28px;
}

.sidebar-menu a:hover {
    color: black; 
    background-color: #ffffff; 
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; 
  }
  
.sidebar-text:hover{
    color: black; 
  
  }
