.app-container {
  margin: 0;
  padding: 0;
}

.header {
  margin-top: -7px;
  height: 100px;
  width: 80rem;
  margin-left: 245px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #001529;
  transition: all 0.5s ease;
}
.content{
  height: 80vh;
  width: 76rem;
  background-color: #f0f2f5;
  margin-top: 34px;
  margin-left: 290px;
}
